div.topHeader {
  background-color: #000;
  color: white;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
div.topHeader p {
  margin: 0.5rem;
}
div.topHeader a {
  text-decoration: underline;
  margin: 0.5rem 0 0.5rem 2rem;
}
div.topHeader select {
  height: 2rem;
  margin: 0.5rem 0;
  background: transparent;
  color: white;
  border: none;
}
option {
  background: transparent;
  color: black;
}
div.header {
  width: 70rem;
  margin: 1.5rem 0;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #909090;
}
div.logo {
  padding: 0;
}
div.logo p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
div.mainMenu {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.mainMenu a {
  color: #000;
}
div.mainMenu a:hover {
  text-decoration: underline;
  font-weight: bold;
}
div.authMenu {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.authMenu div.searchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
div.authMenu div.searchBox input {
  width: 15rem;
  height: 2rem;
  border: 1px solid transparent;
  background-color: #f5f5f5;
  padding-left: 1rem;
}
div.authMenu div.searchBox span {
  font-size: 1.5rem;
  position: absolute;
  top: 0.3rem;
  right: 1rem;
}
div.authMenu span {
  padding: 0.2rem 0.2rem;
}
div.authMenu span:hover {
  background-color: black;
  color: white;
}
